<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to ROR team,<%= @name %></h1>
    <p>
      Here is your test Scores
    </p>
    <p>Mark1: <%= @mark1 %></p>
    <p>Mark2: <%= @mark2 %></p>
    <p>Mark3: <%=  @mark3 %></p>
    <p>Total: <%= @total %></p>
  </body>
</html>